credentials.py
cscart user create/hozzajarulas.xlsx
cscart user create/hozzajarulas_l.xlsx
mailstat/creds.json
__pycache__/
Python.code-workspace
Python.code-workspace
gcreds.json
POInvoices/ois_api_client-master.zip
POInvoices/output/bejovoszla-header.csv
POInvoices/output/bejovoszla-lines.csv
POInvoices/output/hianyzo_szallitok.xlsx
POInvoices/defacc-c.xlsx
POInvoices/defacc.xlsx
cscart usergroup settings/cikklista.xlsx
Python.code-workspace
stat/bigquery-key.json
szamlakuldo.log
cscart_user_create.log
cashregister receipts download/OPF_specifikácio_v1.2.1.pdf
.gitignore
cashregister receipts download/V2_AEEnaplo_6.6.5.xsd
webstat.log
Python.code-workspace
POS data import/81014862_20250731T061404.742 (1).xml
POS data import/teszt.xml
POS data import/teszt2.xml
cscart user create/torzsv_corr.py
Python.code-workspace
